@import "tailwindcss";

@theme {
  --font-sans: "Poppins", "sans-serif";
}

@layer base {
  html {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
  }
}